version: '2'
services:
  duplicity:
    build: .
    volumes:
      - ~/my-backups:/backups
      - ~/my-data:/data:ro
    environment:
      PASSPHRASE: Correct.Horse.Battery.Staple
      CLEANUP_COMMAND: remove-older-than 5m
      CRON_SCHEDULE: "* * * * *"
      VERIFY_CRON_SCHEDULE: "* * * * *"
